/* product page  */

.main-container {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
	padding: 10px;
}

.dash-heading {
	font-size: 36px;
	font-weight: 700;
	text-align: center;
	padding: 20px;
}

.product-card-container {
	width: 20vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;
	box-shadow: 0 0 4px 3px gray;
	text-align: center;
	margin-bottom: 1em;
	background-color: #f9dcc4;
	border-radius: 20px;
	margin: 20px;
}

.description {
	font-size: 16px;
	color: #3d405b;
	padding: 5px;
	width: fit-content;
    height: 100px;
    overflow-y: auto;
}

.category {
	color: #03045e;
	font-size: 18px;
	padding: 5px;
}

.price {
	font-size: 22px;
	color: #9d0208;
	font-weight: bold;
	font-family: 'Alfa Slab One';
	padding: 5px;
}

.price:hover {
	color: #ff006e;
	cursor: pointer;
}

.product-title {
	font-size: 20px;
	padding: 10px;
    color: #000000;
    height: 65px;
}

.product-title:hover {
	cursor: pointer;
	color: #d90429;
}

.product-image {
	width: 85%;
    height: 250px;
	border-radius: 15px;
	margin: auto;
	margin-top: 10px;
}

.rating {
	background-color: rgb(239, 197, 10);
	padding: 8px;
	border-radius: 8px;
	border-width: 0;
	width: 90%;
	color: black;
	margin: 5px;
	cursor: pointer;
}

.rating span {
	color: #540b0e;
	font-size: 14px;
}

/* error  */

.error {
    width: 50vw;
}

@media (max-width:1000px) {
    .product-card-container {
		width: 40vw;
		overflow-x: hidden;
	}

	.description {
		width: fit-content;
	}

	.product-card-container p {
		width: 90%;
	}
}

@media (max-width: 500px) {
	.product-card-container {
		width: 90vw;
	}
}