body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
	min-height: 80px;
	padding: 10px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header h1 {
	margin-left: 10px;
}

.header-logo {
	width: 80px;
}

@media (max-width:600px) {
  .header h1 {
    font-size: 20px;
  }
}